<h2>About!</h2>

<h3>Chocolate Cupcakes (Makes 12 cupcakes):</h3>

<h4>Cupcakes:</h4>

<ul>
  <li>1 ⅛ cups all-purpose flour</li>
  <li>¼ cup Cocoa</li>
  <li>1 ¼ teaspoons baking soda</li>
  <li>¼ teaspoon salt</li>
  <li>1 large egg</li>
  <li>½ cup firmly packed light brown sugar</li>
  <li>½ cup granulated white sugar</li>
  <li>½ cup whole milk plus</li>
  <li>2 tablespoons whole milk</li>
  <li>⅓ cup espresso</li>
  <li>½ cup unsalted butter, melted</li>
</ul>
   

<h4>Frosting:</h4>

<ul>
  <li>6 ounces Semi-Sweet chocolate, broken or chopped into 1-inch pieces</li>
  <li>¾ cup heavy cream</li>
  <li>3 tablespoons unsalted butter</li>
  <li>1 cup Semi-Sweet Chocolate Chips</li>
</ul>

<h4>Directions</h4>

<p>Preheat the oven to 350℉. Line 12 cupcake molds or muffin tins
with paper liners or spray with nonstick spray.</p>

<p>To make the cupcakes, sift together the flour, cocoa, baking soda, and
salt.</p>

<p>In a medium bowl, whisk together the egg, brown sugar, and white sugar.
Whisk in the milk, coffee, and melted butter. Whisk in the dry ingredients.
Divide the batter evenly among the cupcake molds, filling them about three-
quarters full.</p>

<p>Bake for 15 minutes, or until a tester inserted in the middle of the
cupcakes comes out clean. Cool for 10 minutes. Using a small spatula or knife,
remove the cupcakes from the pan. Continue to cool on a wire rack to room
temperature.</p>

<p>To make the frosting, melt the chopped chocolate in the top of a double
boiler, or in a heatproof bowl, over barely simmering water, stirring
occasionally until smooth. Heat the cream until hot. Remove from the heat and
whisk in the chocolate. Transfer to a bowl and cool to just warm. Whisk in the
butter until smooth. Let sit until it reaches a spreading consistency, about 1
hour. Spread the frosting on top of the cupcakes. Sprinkle them with chocolate
chips.</p>

<hr>
{{ etherpad }}
