<div ng-controller="FeedCtrl" class="well">
  <h4>Feed</h4>
  <p ng-class="{isNew: e.isNew == true}" ng-repeat="e in events | orderBy:'-date' | limitTo:5" class="feed-event" ng-switch on="e.verb">
    <small ng-switch-when="PUT" >
      {{ e.owner.first_name }} {{ formatVerb(e.verb) }} <a href="/{{ e.type }}/{{ e.model._id }}">{{ e.model.title }}</a>'s <span ng-repeat="(key, value) in e.changes">{{ key }}<span  ng-show="key == 'title'"> to {{ value }}</span></span>.
    </small>

    <small ng-switch-when="POST" >
      {{ e.owner.first_name }} {{ formatVerb(e.verb) }} <a>{{ e.changes.title }}</a>.
    </small>

    <br/><small>{{ e.date | date:'short' }}</small>
  </p>
</div>