  <table ng-show="projects.length" class="table table-hover">
    <tr>
    <th>Title</th>
    <th>Date Started</th>
    <th>Phase</th>
    <th>Progress</th>
    <th>Description</th>
    </tr>
    <tr ng-repeat="project in projects">
      <td><a ng-href="/project/{{ project._id }}/{{ project.phase }}"><strong>{{ project.title }}</strong></a></td>
      <td>{{ project.created_at | date }}</td>
      <td><span class="label {{ phases[project.phase].title | lowercase }}">{{ phases[project.phase].title }}</span></td>
      <td>
        <div class="progress">
          <div class="bar" style="width: {{ project.progress }}%;"></div>
        </div>
      </td>
      <td><small class="description">{{ project.description }}</small></td>
    </tr>
 </table>
 <div ng-show="!projects.length" class="well">No projects.</div>
