<ul class="chevrons" ng-init="count=0">
  <li ng-class="{ completed: phase.phase <= project.phase, active: phase.phase == activePhase, hasBody: project.phases[phase.phase].body.length}" ng-repeat="phase in phases">
    <a href="{{ '/project/' + project._id + '/' + phase.phase }}">{{ phase.title }}</a>
  </li>
</ul>

<p ng-repeat="(key, phase) in project.phases" ng-show="activePhase==key" ng-class="{active: activePhase==phase.phase}">
  <span editable="phase.body" auth="projectPermissions.edit" callback="updatePhaseDetails(data)"></span>
  <small>{{ phase.created_at | date }}</small>
</p>
<p ng-show="project.phases[activePhase]==undefined">
  <span editable="newPhase.body" auth="projectPermissions.edit" callback="updatePhaseDetails(data, activePhase)"></span>
</p>