  <div class="row">
    <div class="col-md-8" graph-events="events"></div>
    <div class="col-md-4" graph-phase-distribution></div>
  </div>
  <hr/>
  <div ng-include="'views/projects-nav.html'"></div>
  <table ng-show="projects.length" class="table table-hover">
  <thead>
    <tr>
    <th>Title</th>
    <th>Owner</th>
    <th>Activity</th>
    <th>Progress</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="project in projects | filter:archivedFilter" ng-class="{owned: (loggedInUser.email!= null && project.owner.email==loggedInUser.email)}">
      <td>
        <a class="projectTitle" ng-href="/project/{{ project._id }}/{{ project.phase }}"><strong>{{ project.title }}</strong></a><br/>
        <span ng-repeat="theme in project.themes" class="text-label muted">{{ theme.title }}<br/></span>
        <span ng-show="loggedInUser != null && loggedInUser.email == project.owner.email"></span>
      </td>
      <td>{{ UI.displayName(project.owner) }}</td>
      <td><div graph-activity="project._id"></div></td>
      <td>
        <span class="text-label muted">{{ phases[project.phase].title }}</span><br/>
        <progress-bar progress="{{((project.phase / (phases.length-1)) * 100)}}" />
      </td>
    </tr>
    </tbody>
 </table>
 <div ng-show="!projects.length" class="well well-lg">No projects.</div>
 <a class="btn btn-default navbar-btn" ng-show="permissions.add" ng-href="/projects/new">New Project</a>
 <a type="button" ng-click="showArchived = !showArchived" class="btn btn-primary" ng-class="{'btn-danger': showArchived}">{{ showText() }} Archived</a>