<ul class="chevrons" ng-init="count=0">
  <li ng-class="{ completed: phase.phase <= project.phase, active: phase.phase == activePhase, hasBody: project.phases[phase.phase].body.length}" ng-repeat="phase in phases">
    <a href="{{ '#/project/' + project._id + '/' + phase.phase }}">{{ phase.title }}</a>
  </li>
</ul>

<p ng-repeat="(key, phase) in project.phases" ng-show="activePhase==key" ng-class="{active: activePhase==phase.phase}">
  {{ phase.body }}
  <small>{{ phase.created_at | date }}</small>
</p>
<p ng-show="project.phases[activePhase]==undefined" class="muted"><i>No details.</i></p>