  <h3>
    <!-- <small>DESCRIPTION</small> -->
  </h3>
  <p editable="project.description" auth="projectPermissions.edit" textarea=true markdown=true callback="update(data)" class="lead"></p>
  <hr/>

  <div ng-repeat="phase in phases" ng-class="{active: phase.phase==project.phase}" class="row project-phase">
    <div class="col-lg-1 timeline" ng-class="{last: $last, muted: phase.phase > project.phase}">
      <div class="knob"></div>
    </div>
    <div class="col-lg-2 phase-title">
      <h4 ng-cloak ng-class="{'text-muted' : phase.phase > project.phase}">{{ phases[phase.phase].title }}</h4>
    </div>
    <div class="col-lg-9 phase-details">
      <small ng-cloak class="text-muted">{{ phases[phase.phase].prompt | uppercase }}</small>
      <span ng-if="project.phases[phase.phase]" editable="project.phases[phase.phase].body" markdown=true property="body" textarea=true auth="projectPermissions.edit" callback="updatePhaseDetails(data, phase.phase)"></span>
      <small ng-if="project.phases[phase.phase]" ng-cloak>{{ project.phases[phase.phase].created_at | date }}</small>
      <p ng-if="!project.phases[phase.phase]">
        <span editable="newPhase[phase.phase].body" property="body" textarea=true auth="projectPermissions.edit" callback="updatePhaseDetails(data, phase.phase)"></span>
      </p>
    </div>
  </div>

