<h3>
  <span editable="project.title" auth="projectPermissions.edit" callback="update(data)"></span>
   <small>{{ project.created_at | date }}</small>
  <span ng-show="project.owner_email!=null" class="pull-right profile" ng-class="{owned: (loggedInUser.email!= null && project.owner_email==loggedInUser.email)}">
    <img src="http://avatars.io/email/{{ project.owner_email }}" width=36 height=36 />
    <i>{{ project.owner_email }}</i>
  </span>
  <br/>
  <a href="/theme/{{ theme._id }}" ng-repeat="theme in project.themes"><span class="badge">{{ theme.title }}</span></a>
</h3>

<hr/>

<p editable="project.description" auth="projectPermissions.edit" callback="update(data)" class="lead"></p>

<div ui-view></div>

<hr/>

<button ng-show="projectPermissions.remove" ng-click="remove()" class="btn btn-danger">Delete Project</button>