<div ng-switch on="isFound">
  <div ng-switch-when="true">
    <h2><span editable="theme.theme.title" auth="themePermissions.edit" callback="update(data)"></span></h2>
    <p class="lead"><span editable="theme.theme.description" auth="themePermissions.edit" callback="update(data)"></span></p>
    <h4><i>{{ UI.displayName(theme.theme.owner) }}</i></h4>
    <hr/>

      <table ng-show="theme.projects.length" class="table table-hover">
        <tr>
        <th>Title</th>
        <th>Owner</th>
        <th>Date Started</th>
        <th>Phase</th>
        <th>Progress</th>
        </tr>
        <tr ng-repeat="project in theme.projects" ng-class="{owned: (loggedInUser.email!= null && project.owner.email==loggedInUser.email)}">
          <td><a class="projectTitle" ng-href="/project/{{ project._id }}/{{ project.phase }}"><strong>{{ project.title }}</strong></a></td>
          <td>{{ UI.displayName(project.owner) }}</td>
          <td>{{ project.created_at | date }}</td>
          <td>{{ phases[project.phase].title }}</td>
          <td>
            <progress-bar progress="{{project.progress}}"></progress-bar>
          </td>
        </tr>
     </table>
     <div ng-show="!theme.projects.length" class="well">No projects.</div>

     <button ng-show="themePermissions.remove" ng-click="remove()" class="btn btn-danger">Delete Theme</button>
  </div>

  <div ng-switch-when="false" class="alert alert-danger">
    <h4>This theme cannot be found. It may have been deleted. Go back to <a class="alert-link" ng-href="/themes">Themes</a>?</h4>
  </div>

  <div ng-switch-default>
    Loading...
  </div>

</div>


