<h2>{{ email }}'s Projects</h2>
<hr/>

  <h3>Projects</h3>
  <table ng-show="projects.length" class="table table-hover">
    <tr>
    <th>Title</th>
    <th>Owner</th>
    <th>Date Started</th>
    <th>Phase</th>
    <th>Progress</th>
    </tr>
    <tr ng-repeat="project in projects" ng-class="{owned: (loggedInUser.email!= null && project.owner.email==loggedInUser.email)}">
      <td><a class="projectTitle" ng-href="/project/{{ project._id }}/{{ project.phase }}"><strong>{{ project.title }}</strong></a></td>
      <td>{{ UI.displayName(project.owner) }}</td>
      <td>{{ project.created_at | date }}</td>
      <td>{{ phases[project.phase].title }}</td>
      <td>
        <progress-bar progress="{{project.progress}}" />
      </td>
    </tr>
 </table>
 <div ng-show="!projects.length" class="well">No projects.</div>

  <h3>Collaborations</h3>
  <table ng-show="collaborations.length" class="table table-hover">
    <tr>
    <th>Title</th>
    <th>Owner</th>
    <th>Date Started</th>
    <th>Phase</th>
    <th>Progress</th>
    </tr>
    <tr ng-repeat="collaboration in collaborations" ng-class="{owned: (loggedInUser.email!= null && collaboration.owner.email==loggedInUser.email)}">
      <td><a class="projectTitle" ng-href="/project/{{ collaboration._id }}/{{ collaboration.phase }}"><strong>{{ collaboration.title }}</strong></a></td>
      <td>{{ UI.displayName(collaboration.owner) }}</td>
      <td>{{ collaboration.created_at | date }}</td>
      <td>{{ phases[collaboration.phase].title }}</td>
      <td>
        <progress-bar progress="{{collaboration.progress}}" />
      </td>
    </tr>
 </table>
 <div ng-show="!collaborations.length" class="well">No collaborations.</div>

 <a class="btn btn-default" ng-show="permissions.add" ng-href="/projects/new">New Project</a>
