@import "compass/css3/images";

$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";


$body-background: #FEFEFE;
$link-color: #6A62A3;
$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;


@import "bootstrap-sass/lib/bootstrap";


/* Put your CSS here */
html, body {
  margin: 20px;
  // font-family: $font-family-sans-serif;
  // background: $body-background;
}

// a {
//     color: $link-color;
// }

body {
    // padding-top: 70px;
    color: #333;
}

.navbar-nav{
    margin: 0 auto;
}

.main-container {
    margin-top: 40px;
}

.form-inline .form-control {
    width: auto;
    margin-right: 5px;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

// custom style

// tr .projectTitle {
//     position: relative;
// }
// tr.owned .projectTitle:after{
//     display: inline;
//     content: '\2022';
//     color: #A9E627;
//     position: absolute;
//     right: -15px;
//     top: 1px;
//     font-size: 24px;
// }
.table thead>tr>th {
  width: 25%;
}

tr.owned {
    color: #5F4E82;
}

a{cursor:pointer;}

.progress {
    height: 13px;
    box-shadow: none;
}

.progress .bar{
    background-color: #7970bd;
    transition: all 1s ease-in-out;
    height: 100%;
}

.chevrons {
    padding: 0;
    margin: 0 0 20px 0;
    background: #EEE;
    border-radius: 3px;
    padding: 10px;
}
.chevrons li {
    display: inline;
    a{
        color: #AAA;
        font-weight: normal;
    }
    list-style-type: none;
    padding: 0 0 10px 0;
    font-weight: bold;
    &:after{
        position: relative;
        top: 1px;
        padding-right: 10px;
        padding-left: 10px;
        color: #CCC;
        content: '\3009';
    }
    &:last-child:after{
        content: ' ';
    }
    &.completed a{
        color: #333;
    }
    &.active a{
        color: $link-color;
    }
    &.hasBody a{
        font-weight: bold;
    }
}
small.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    display: inline-block;
}
.profile {
    font-size: 18px;
    margin: 20px 0;
}
.profile img{
    border-radius: 50%;
    border: 3px solid #EEE;
}
.profile.owned img{
    border-color: #A9E627;
}
h3 span.badge {
    margin-right: 3px;
    &:hover {
        background-color: #6B18B0;
    }
}

#user img{
    border-radius: 50%;
    margin-right: 5px;
    border: 2px solid #FFF;
}

.muted a{
    color: #666;
}

.text-label{
    font-weight: bold;
    font-size: 10px;
    color: #121314;
    padding: 0 3px;
    text-transform: uppercase;
}
.text-label .muted{
    color: #454749;
}

.click-to-edit a.btn {
    opacity: 0.2;
}
.click-to-edit:hover a.btn {
    opacity: 1;
}
.badge.add {
    cursor: pointer;
    background-color: #76CC26 !important;
}
.badge.remove {
    cursor: pointer;
    background-color: #C44917 !important;
}
.collaborator {
    padding-top: 4px;
}
.collaborator img{
    border-radius: 50%;
    margin-right: 5px;
}
.collaborator span {
    font-size: 13px;
}

// animations
.feed-event {
    transition: all 2s ease-in-out;
    padding: 15px;
    border-bottom: 1px solid #DDD;
}
.feed-event.isNew {
    font-weight: bold;
    position: relative;
    background-color: #C8E3E6;
}

.feed-event.isNew.ng-enter {
    transition: all 0.7s ease-out;
    background-color: #FFF696;
}
.feed-event.isNew.ng-enter.ng-enter-active {
    background-color: transparent;
}

.feed-event .timeago {
    font-style: italic;
    color: #888;
    font-weight: normal !important;
}

// graphs
.axis path,
.axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #DDD;
}

svg {
    position: relative;
    width: 100%;
    height: 100%;
}

.markdown img {
    max-width: 100%;
    border: 2px solid #EEE;
    margin-top: 9px;
    margin-bottom: 9px;
}

h3 .btn-spaced {
    margin-right: 8px;
    font-size: 10px;
}

.cupcake-icon {
    background: url("../images/cupcake-icon.svg") left center no-repeat;
    background-size: 54px;
    height: 24px;
    width: 27px;
    margin-right: 6px;
    display: inline-block;
}

.newItems .cupcake-icon {
    background-position: right center;
}

.dropdown .badge {
    position: relative;
    top: -6px;
}

.badge-danger {
    background-color: #74308E;
}

.navbar-nav > li > .dropdown-menu {
    width: 350px;
    padding: 0px;
    margin-top: -9px;
}

li.dropdown {
    top: -2px;
}

.navbar-default .navbar-brand {
    font-weight: bold;
    color: #594875;
}

.navbar-default .navbar-brand small{
    font-weight: normal;
}

.feedList {
    list-style-type: none;
    padding: 0px;
}

.axis.y.white text{
    fill: #FFF;
    font-weight: bold;
    opacity: 0.8;
    font-size: 9px;
}

.sidebar {
    background-color: #fafafa;
    padding-bottom: 40px;
    padding-left: 30px;
}

.sidebar small {
    display: block;
    padding-top: 20px;
}

.sidebar h3 small {
    font-size: 14px;
}

.project-phase {
    position: relative;
}

.project-phase .phase-title {
    padding-left: 32px;
}

.project-phase .phase-details {
    border-bottom: 1px solid #EEE;
    margin-bottom: 40px;
}
.project-phase .phase-details small{
    margin-bottom: 15px;
    display: block;
}
.project-phase .timeline {
    position: absolute;
    top: 20px;
    left: 0;
    bottom: -25px;
    width: 6px;
    border-radius: 3px;
    padding: 0;
    background: #EEE;
}

.project-phase .timeline.last {
    background: none;
}

.project-phase .timeline .knob {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: white;
    border: 3px solid #EEE;
    top: -9px;
    left: -6px;
}

.project-phase .timeline.muted .knob {
    background-color: #EEE;
}

.project-phase.active .timeline .knob {
    background-color: $link-color;
}

.sidebar .project-title {
    font-size: 40px;
    font-weight: bold;
    color: #33335B;
}

.main-content .lead {
    line-height: 150%;
}

.main-content .lead, .main-content .markdown {
    font-family: "Droid Serif", Gerogia, serif;
    color: #232324;
}