@import "compass/css3/images";

$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";


$body-background: #FEFEFE;
$link-color: #6B18B0;
$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;


@import "bootstrap-sass/lib/bootstrap";


/* Put your CSS here */
html, body {
  margin: 20px;
  // font-family: $font-family-sans-serif;
  // background: $body-background;
}

// a {
//     color: $link-color;
// }

body {
    // padding-top: 70px;
    color: #333;
}

.navbar-nav{
    margin: 0 auto;
}
.form-inline .form-control {
    width: auto;
    margin-right: 5px;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

// custom style

// tr .projectTitle {
//     position: relative;
// }
// tr.owned .projectTitle:after{
//     display: inline;
//     content: '\2022';
//     color: #A9E627;
//     position: absolute;
//     right: -15px;
//     top: 1px;
//     font-size: 24px;
// }

a{cursor:pointer;}

.progress .bar{
    @include background(linear-gradient($link-color, darken($link-color, 10%)));
    transition: all 1s ease-in-out;
    height: 100%;
}

.chevrons {
    padding: 0;
    margin: 0 0 20px 0;
    background: #EEE;
    border-radius: 3px;
    padding: 10px;
}
.chevrons li {
    display: inline;
    a{
        color: #AAA;
        font-weight: normal;
    }
    list-style-type: none;
    padding: 0 0 10px 0;
    font-weight: bold;
    &:after{
        position: relative;
        top: 1px;
        padding-right: 10px;
        padding-left: 10px;
        color: #CCC;
        content: '\3009';
    }
    &:last-child:after{
        content: ' ';
    }
    &.completed a{
        color: #333;
    }
    &.active a{
        color: $link-color;
    }
    &.hasBody a{
        font-weight: bold;
    }
}
small.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    display: inline-block;
}
.profile img{
    border-radius: 50%;
    border: 3px solid #EEE;
}
.profile.owned img{
    border-color: #A9E627;
}
h3 span.badge {
    margin-right: 3px;
    &:hover {
        background-color: #6B18B0;
    }
}

#user img{
    border-radius: 50%;
    margin-right: 5px;
    border: 2px solid #FFF;
}

.muted a{
    color: #666;
}

.text-label{
    font-weight: bold;
    font-size: 75%;
    color: #121314;
    padding: 0 3px;
}
.click-to-edit a.btn {
    visibility: hidden;
}
.click-to-edit:hover a.btn {
    visibility: visible;
}
.badge.add {
    cursor: pointer;
    background-color: #76CC26 !important;
}
.badge.remove {
    cursor: pointer;
    background-color: #C44917 !important;
}